version: '3.8'

services:
  app-dev:
    build:
      context: .
      dockerfile_inline: |
          FROM php:8.2-apache
          RUN apt update && apt install -y libpq-dev
          RUN docker-php-ext-install pdo pgsql pdo_pgsql
          COPY app/src /var/www/html/
    networks:
      - db
      - external
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app.rule=Host(`dev.td-grp1.anthonymoll.fr`)"
      - "traefik.http.routers.app.entrypoints=web"
      - "traefik.http.services.app.loadbalancer.server.port=80"
    logging:
      driver: loki
      options:
        loki-url: http://127.0.0.1:3100/loki/api/v1/push
        loki-pipeline-stages: |
          - regex:
              expression: '(level|lvl|severity)=(?P<level>\w+)'
          - labels:
              level:


  db-dev:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - db

networks:
  db:
  external:
    external: true
  

volumes:
  db_data:
