version: '3'

services:
  cadvisor1:
    image: gcr.io/cadvisor/cadvisor
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - "8005:8080"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.cadvisor1.rule=Host(`monitoring.td-grp1.anthonymoll.fr`)"
      - "traefik.http.routers.cadvisor1.entrypoints=web"
      - "traefik.http.services.cadvisor1.loadbalancer.server.port=8080"
    networks:
      - monitoring
      - external
    logging:
      driver: loki
      options:
        loki-url: http://127.0.0.1:3100/loki/api/v1/push
        loki-pipeline-stages: |
          - regex:
              expression: '(level|lvl|severity)=(?P<level>\w+)'
          - labels:
              level:

networks:
  monitoring:
    driver: bridge
  external:
    external: true
